{% extends "base.html"%}
{% load i18n %}
{% block title %}{% trans "KVDB file upload" %}{% endblock %}
{% block content %}
<div class="nn-note-section">
    <div class="page-header"><h3>{% trans "KVDB file upload" %}</h3></div>
    <form class="form-horizontal" action="{% url 'kvdb.upload' %}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id_img" class="col-sm-2 control-label">{% trans "File" %}</label>
            <input id="img" name="img" type="file">
            {% csrf_token %}
        </div>
        <button class="btn btn-default" type="submit">{% trans "Save" %}</button>
    </form>
</div>
{% endblock %}
