{% extends "base.html" %}
{% load i18n %}
{% block sidebar %}{% endblock %}
{% block title %}{% blocktrans %}Milestone - Ninan{% endblocktrans %}{% endblock %}
{% block content %}
<div class="nn-note-section">
    <div class="page-header"><h3>{% trans "Milestone" %}</h3></div>
    <p>{% blocktrans %}Frown upon why it is so hard to hold on losing weight?{% endblocktrans %}</p>
    <p>{% blocktrans %}Suck in endless anxiety when trying to remeber the new word?{% endblocktrans %}</p>
    <p>{% blocktrans %}Do not panic.{% endblocktrans %}</p>
    <p>{% blocktrans %}Now you have newly banded `Milestone` app from Ninan.{% endblocktrans %}</p>
    <hr >
    <p>{% blocktrans %}&gt;&gt; Or you just <a href="/milestone/random/">want a look at what others doing...</a>{% endblocktrans %}</p>
</div>
{% endblock %}
